{% extends "layout.html" %}
<div class="container-fluid">
    {% block content %}
    <div class="row">
        {% for movie in movies %}
        <div class="col">
             <div class="card text-white bg-dark mb-3" style="max-width: 18rem; max-height: 36rem;">
                <img src="{{url_for('static', filename = 'images/' + movie.filename)}}" class="card-img-top" />
                <div class="card-body">
                    <h5 class="card-title">{{movie.filename}}</h5>
                    <a href="rate?imageName={{movie.filename}}" class="btn btn-primary">Rate This Image!</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endblock %}
</div>
